.app {
  margin: 25px;
}

body {
  flex-grow: 1;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  /* height: 75vh; */
}

.navbar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 20px 20px 20px 0px;
}

.footer {
  /* display: flex;
  align-items: center; */
  /* position: absolute;
    bottom: 0px; */
  margin-top: 100px;

  flex-shrink: 0;
  padding: 20px 20px 20px 0px;
}

.br2, .br-br {
  font-family: 'Source Code Pro', monospace;
  font-size: 36pt;
}

.bio, .about, .projects, .blog, .mckinley, .contact {
  font-family: 'Source Code Pro', monospace;
  font-size: 16pt;
  width: 750px;
}

.navbar-button, .footer-button, .about-button {
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: 'Source Code Pro', monospace;
  border: none;
  background-color: rgb(245, 235, 205);
  margin: 5px;
  padding: 5px 10px;
  width: auto;
  height: 30px;
}

.navbar-button {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
}

.about-button {
  font-size: 12pt;
}

.footer-button {
  background-color: rgb(245, 205, 205);
}

.navbar-button:hover, .footer-button:hover, .about-button:hover {
  cursor: pointer;
  background-color: rgb(245, 205, 205);
  transition: 0.75s;
}

.navbar-button.active, .about-button.active {
  background-color: rgb(245, 205, 205);
}

.footer-button:hover {
  background-color: rgb(245, 235, 205);
}

.navbar-logo {
  text-decoration: none;
  color: black;
  margin-right: auto;
}

