.app {
  margin: 25px;
}

body {
  flex-grow: 1;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  /* height: 75vh; */
}

.navbar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 20px 20px 20px 0px;
}

.footer {
  /* display: flex;
  align-items: center; */
  /* position: absolute;
    bottom: 0px; */
  margin-top: 100px;

  flex-shrink: 0;
  padding: 20px 20px 20px 0px;
}

.br2, .br-br {
  font-family: 'Source Code Pro', monospace;
  font-size: 36pt;
}

.br2 {
  font-weight: bolder;
}

.br-br {
  text-align: center;
  font-weight: lighter;
}

.bio, .mckinley {
  font-family: 'Source Code Pro', monospace;
  font-size: 16pt;
}

.about, .projects, .blog, .contact {
  font-family: 'Source Code Pro', monospace;
  font-size: 16pt;
  width: 750px;
}

.navbar-button, .footer-button, .about-button {
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: 'Source Code Pro', monospace;
  border: none;
  background-color: rgb(245, 235, 205);
  margin: 5px;
  padding: 5px 10px;
  width: auto;
  height: 30px;
}

.footer-button {
  padding: 10px;
}

.navbar-button {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
}

.about-button {
  font-size: 12pt;
}

.footer-button {
  background-color: rgb(245, 205, 205);
}

.navbar-button:hover, .footer-button:hover, .about-button:hover {
  cursor: pointer;
  background-color: rgb(245, 205, 205);
  transition: 0.75s;
}

.navbar-button.active, .about-button.active {
  background-color: rgb(245, 205, 205);
}

.footer-button:hover {
  background-color: rgb(245, 235, 205);
}

.navbar-logo {
  text-decoration: none;
  color: black;
  margin-right: auto;
}

.brenna-pics, .cars-gifs, .mckinley-pics {
  width: 500px;
  height: auto;
}

.mckinley-pics {
  width: 400px;
  margin: 25px;
  border: black 15px solid;
  border-radius: 50px;
}

#president-mckinley, #dirt-mckinley {
  height: 400px;
}

.pawprint-clipart {
  margin-top: auto;
  margin-bottom: auto;
}

  /* B-ish shape */
.b-shape {
  border: 0px;
  border-radius: 0px 175px 175px 0px;
  clip-path: polygon(0 0, 100% 0, 100% 38%, 85% 45%, 100% 52%, 100% 100%, 0 100%);
}

.lightning {
  clip-path: polygon(20% 8%,92% 8%,69% 35%,98% 35%,0% 94%,23% 60%,0% 60%);
}

.lightning-tall {
  clip-path: polygon(23% 0%,92% 0%,69% 35%,98% 35%,0% 94%,23% 60%,0% 60%);
}

.rounded {
  border-radius: 175px 0px 175px 0px;
}

.rounded-reverse {
  border-radius: 0px 175px 0px 175px;
}

.bio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.bio-containers {
  width: 750px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 0px 25px;
}

.bio-pic {
  width: 590px;
  margin-top: 30px;
}

.mckinley-pics-container, .choose-a-side-container {
  margin: 0px auto;
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}

.mckinley-pics-container {
  width: 85vw;
  flex-flow: row wrap;
}

.project-logos {
  width: 300px;
}

.project-pics {
  width: 1000px;
  height: auto;
  border: 5px black solid;
}

.choose-a-side-prof, .choose-a-side-fun {
  margin: 5px 100px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.choose-a-side-fun {
  align-items: flex-end;
}

.about-button {
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
}